.head {

    &__navigation {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__info {
        width: 100%;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        height: 90px;
        padding: 0 30px;

        &-item {
            // width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 10px 30px;
            justify-content: center;
            border-left: 1px solid rgba(#C4C4C4, 0.5);


        }
    }

    &__logo {
        min-width: 260px;
        height: 100%;
    }

    &__phone {
        height: 100%;
        transition: all 0.2s;

        &-link {
            white-space: nowrap;
            color: #000000;
            transition: all 0.2s;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__vision-control {
        height: 100%;
    }

    &__address {
        height: 100%;
    }

    &__social {

        &-links {
            height: 100%;
        }

        &-list {
            height: 100%;
            display: flex;
            align-items: center;


        }

        &-link {
            padding: 10px 28px;
            max-width: 80px;

            &>svg {
                width: 24px;
                transition: all 0.2s;

                & path {
                    fill: #4FBFA5;
                    transition: all 0.2s;
                }
            }

            &:hover {
                &>svg path {
                    fill: #00868A;
                }
            }
        }

        &-item {
            height: 100%;

            &:last-child {
                border-right: 1px solid rgba(#C4C4C4, 0.5);
            }
        }
    }

    &__vision {

        &-control {
            height: 100%;
        }

        &-btn {
            padding: 10px 15px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            background: #00868A;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background: #4FBFA5;
            }
        }

        &-text {
            text-transform: uppercase;
            color: #FFFFFF;
            white-space: nowrap;
            font-size: 14px;
        }
    }

    &__presentation {
        width: 100%;
        background: #4FBFA5;

        &-menu {
            width: 100%;
            height: 88px;
            display: flex;
            justify-content: center;
            padding: 0 30px;

            &.top-menu {
                border-bottom: 2px solid #7AA183;
                height: 88px;
            }

            &.bottom-menu {
                height: 80px;
            }

        }

        &-block {
            display: flex;
            justify-content: center;
            padding: 0 30px;
        }

        &-container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            min-height: 533px;
        }

        &-description {
            width: 74%;
            height: 100%;
            display: flex;
            align-items: center;
            margin-top: 3px;
            position: relative;
        }

        &-title {
            font-family: 'Gilroy Bold';
            font-size: 48px;
            color: #FFFFFF;
        }

        &-text {
            font-size: 14px;
            color: #FFFFFF;
            line-height: 150%;
            margin-bottom: 8px;
        }

        &-btn {
            font-size: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 15px 25px;
            background-color: #00868A;
            letter-spacing: 0.05em;
            margin-top: 6px;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background: #FFFFFF;
                color: #000000;
            }
        }

        &-content {
            width: 100%;
            max-width: 420px;
            display: flex;
            flex-direction: column;
            row-gap: 26px;
        }

        &-image {
            width: 100%;
            height: 100%;

            &>img {
                // width: 100%;
                // height: 100%;
                object-fit: cover;
            }
        }
    }

    &__slider-control {
        position: absolute;
        right: 59px;
        bottom: 64px;
        display: flex;
    }

    &__slider-btn {
        width: 60px;
        height: 50px;
        cursor: pointer;
        color: #FFFFFF;
        transition: all 0.2s;
        padding: 0;

        &:hover {
            opacity: 0.5;
        }
    }

    &__nav-list {

        &-text {
            white-space: nowrap;
        }

        &-btn {
            display: flex;
            align-items: center;
            column-gap: 15px;
        }

        &-arrow {
            width: 19px;
            height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #4FBFA5;
        }
    }
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 90px;

    &__navigation {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;


        &-list {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

        }

        &-item {
            width: 100%;
            height: 100%;

            &:first-child {
                & .menu__navigation-btn {
                    padding-left: 60px;
                }

            }
        }

        &-btn {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 33px;
            font-size: 18px;
            color: #FFFFFF;
            white-space: nowrap;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background: #00868A;
            }




        }
    }

    &__reserved {
        height: 100%;
        padding: 0 11px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-btn {
            font-size: 18px;
            padding: 10px 15px;
            background: #FFFFFF;
            white-space: nowrap;
            cursor: pointer;
            transition: all 0.2S;

            &:hover {
                background: #00868A;
                color: #FFFFFF;
            }
        }
    }

}

.bottom-menu {

    & .menu__navigation-btn {
        font-size: 21px;
        background: #00868A;

        &.active {
            background: #4FBFA5;
        }

        &:hover {
            background: #4FBFA5;
        }
    }

    & .menu__navigation-btn:first-child {
        padding-left: 33px;
    }
}